<img rel="225x255" src='/images/banner_syntranet-reversed.png' alt="Banner Syntranet Reversed" title="Banner Syntranet Reversed" src="" height="350" width="860" /> 
<div class="overview"> 
  <p>SyntraNet is an open health platform from Thrasys, Inc. designed to rapidly configure and deploy highly scalable collaborative healthcare networks.</p> 
</div> 

<div class="benefits-bar" style="clear:both">
  <div class="benefits-bar-left"></div>

  <div class="benefits-bar-middle"><span>Benefits</span></div>
  <div class="benefits-bar-right"></div>
</div>

<div class="benefits-main-content" style="clear:both">
  <div class="benefits-textbg">
    <div class="section-column-first">
      <div class="benefits-title">Physicians/Health Systems</div>
      <ul>
        <li>Coordinate care</li>
        <li>Manage costs</li>
        <li>Improve productivity</li>
        <li>Enhance revenue</li>
      </ul>
    </div>

    <div class="section-column">
      <div class="benefits-title">Patients</div>
      <ul>
        <li>Access health information</li>
        <li>Communicate with providers</li>
        <li>Schedule appointments</li>
        <li>Pay bills</li>
      </ul>
    </div>
    <div class="section-column">
      <div class="benefits-title">Service Centers<br><!--span>(Labs, Imaging/Diagnostics)</span--></div>
      <ul>
        <li>Connect with physicians/health systems</li>
        <li>Intergrate workflows</li>
        <li>Improve efficiencies</li>
        <li>Enhance revenue</li>
      </ul>
    </div>
    <div class="section-column-last">
      <div class="benefits-title">Partners/Public Health<br><!--span>(Health Plans, ACOs, Networks)</span--></div>
      <ul>
        <li>Connect with physicians/health systems</li>
        <li>Manage population health</li>
        <li>Coordinate care</li>
        <li>Integrate workflows</li>
      </ul>
    </div>
  </div>
</div>
