<ul id="social">
  <li id="follow-us">Follow Us:</li>
  <li id="social-links">
  <!--a href="#"><img src="images/twitter.png" target="_blank"/></a-->
  <a href="http://www.facebook.com/pages/Thrasys-Inc/136545616401901" target="_blank"><img src="/images/facebook.png"></a>
  <a href="http://twitter.com/#!/SyntraNet" target="_blank"><img src="/images/twitter.png" target="_blank"></a>
  <a href="http://www.youtube.com/user/SyntraNet" target="_blank"><img src="/images/youtube.png" target="_blank"></a>
  </li>
</ul>

<div id="footer">
  <div class="powered-by-text">
    <ul>
      <li><a href="http://www.thrasys.com">Thrasys, Inc.</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>

