<div id="header">
  <!-- include header -->
  <div id="logo"><a href="/"><div class="syntranet"></div></a>
    <div class="network-name">SyntraNet</div></div>
  <div class="login"><!-- hidden until available see main.css --><a href="nyhin.medlinkix.com">Login</a>&nbsp; <span class="register-link">|&nbsp; <a href="registration.php?hin=syntranet">Register</a></span>
  </div>
  <div class="nav-area" style="clear:both">
    <div class="btn-area">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/solutions">Solutions</a></li>
        <li><a href="/technology">Technology</a></li>
        <!-- <li><a href="coming_soon.php?hin=syntranet">Partners</a></li>
        <li><a href="about.php?hin=syntranet">About Us</a></li-->
        <li><a href="/posts">Blog</a></li>                            </ul>
    </div>
    <a id="top_nav_branding" href="http://www.thrasys.com"><div id="thrasys_branding"></div></a></div>
  <form method="get" action="">
    <div class="search"><!--  class="clear" -->
      <div class="search-input">
        <input type="text" value="search" name="search" gtbfieldid="5">
      </div>
    </div>
  </form>
</div>
