<!DOCTYPE html>
<html>
  <%= render '/layouts/head' %>
  <body>
    <div id="content">
      <%= render '/layouts/header' %>
      <%= yield %>
      <%= render '/layouts/footer' %>
    </div>
  </body>
</html>
